@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-terminal-black: #050505;
  --color-terminal-green: #ffffff;
  --color-terminal-cyan: #06b6d4;
  --color-terminal-muted: #6b7280;

  --font-mono: "JetBrains Mono", monospace;

  --animate-blink: blink 1s step-end infinite;

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
}

:root {
  font-family: var(--font-mono);
  background-color: var(--color-terminal-black);
  color: var(--color-terminal-green);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* or start */
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-terminal-black);
}

::-webkit-scrollbar-thumb {
  background: var(--color-terminal-muted);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-terminal-green);
}